{% extends 'base.html.twig' %}

{% block title %}Questions posées{% endblock %}
{# ... #}
{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{{ form(form) }}

<p class="tags">Filtrer par mot-clé : {% for tag in tags %}
    {% include 'question/_tags.html.twig' %}
    {% endfor %}</p>

<h1>Questions posées</h1>

{% for question in questions %}
<hr class="my-4">
{% include 'question/_detail.html.twig' %}
{% endfor %}

{% endblock %}


