<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <title>{% block title %}THE GOOD ONE{% endblock %}</title>
       
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
        {% endblock %}
    </body>
</html>
