{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} THE GOOD ONE {% endblock %}


{% block body %}
<div class="example-wrapper">
    <h1 class="display-3">Gestion des PACKAGES</h1>

    <div class="wcontent clearfix">

        <section class="featured-listing  ">
    
            <div class="listing-wrapper">
                <div class="intro-text">Ne soyez pas timide votre futur partenaire vous attends</div>
    
    
                <div class="hr"></div>
                <div class="content-block4">
                    <div class="content">
                        <div class="top"></div>
                        <div class="subtitle"></div>
                        
                        <h1>ACTIVITES & QUIZ</h1>
                        <a href="/packagebase" class="packagebase"> 
                            <span>PACKAGE de BASE</span>
    
                            <span class="package1"></span>
                            <span class="package2"></span>
                           
    
                        </a>
                        <div class="cboth"></div>
                    </div>
                    <div class="bottom"></div>
                </div>
               
                            </span>
    
                            <a class="more" href="/pledge/Packages/Avenger-Titan-Starter-Pack">more info</a>
                            <a class="holosmallbtn add-cart add-cart ty-js-add-to-cart"
                                href="/pledge/Packages/Avenger-Titan-Starter-Pack" data-sku="13318"
                                data-tracking-infos="{&quot;id&quot;:&quot;SCP6-PP-AVENGER-TITAN-STARTER-EVERGREEN&quot;,&quot;name&quot;:&quot;Avenger Titan Starter Pack&quot;,&quot;brand&quot;:&quot;pledge&quot;,&quot;category&quot;:&quot;Package&quot;,&quot;price&quot;:&quot;59.15&quot;,&quot;dimension1&quot;:&quot;-1&quot;,&quot;stockLevel&quot;:&quot;high&quot;}"
                                data-name="13318">
                                <span class="holosmallbtn-top abs-overlay trans-02s js-label">Add to cart</span>
                                <span class="holosmallbtn-bottom abs-overlay trans-02s"></span>
                            </a>
                        </div>
                        <div class="customize-button-block customize-button-block--inactive"></div>
                    </div>
    
                    <div class="product-item js-ecommerce-tracking-sku  huge trans-02s">
                        <a href="/pledge/Packages/Mustang-Alpha-Starter-Pack"><img
                                src="https://media.robertsspaceindustries.com/705mowvexia8o/store_small.jpg"
                                class="trans-02s"></a>
                        <div class="info clearfix trans-02s">
                            <div class="title">
                                Mustang Alpha Starter Pack<span>
                                    - Package </span>
                                <p class="excerpt"> </p>
    
                            </div>
                            <div class="price "> <strong class="final-price" data-value="4914" data-currency="EUR">€49<span
                                        class="super">.14 <span class="currency">EUR</span></span></strong>
                                <div class="taxes js-taxes">
                                    <div class="taxes-details trans-02s">
                                        <div class="arrow"></div>
                                        Tax Included: <br>
                                        <ul>
                                            <li>VAT 20%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <span class="state h-stock-level--high">
                                In stock
                            </span>
    
                            <a class="more" href="/pledge/Packages/Mustang-Alpha-Starter-Pack">more info</a>
                            <a class="holosmallbtn add-cart add-cart ty-js-add-to-cart"
                                href="/pledge/Packages/Mustang-Alpha-Starter-Pack" data-sku="3579"
                                data-tracking-infos="{&quot;id&quot;:&quot;SCP6-PP-MUSTANG-SC-STARTER&quot;,&quot;name&quot;:&quot;Mustang Alpha Starter Pack&quot;,&quot;brand&quot;:&quot;pledge&quot;,&quot;category&quot;:&quot;Package&quot;,&quot;price&quot;:&quot;40.95&quot;,&quot;dimension1&quot;:&quot;-1&quot;,&quot;stockLevel&quot;:&quot;high&quot;}"
                                data-name="3579">
                                <span class="holosmallbtn-top abs-overlay trans-02s js-label">Add to cart</span>
                                <span class="holosmallbtn-bottom abs-overlay trans-02s"></span>
                            </a>
                        </div>
                        <div class="customize-button-block customize-button-block--inactive"></div>
                    </div>
    
                </div>
            </div>
        </section>
    
    
    
</section>
    
    </div>
</div>
{% endblock %}
